@media (max-width: 1550px) {

}

@media (max-width: 1250px) {
  .header {
    font-size: 16px;
    line-height: 20px;
    .logo {
      img {
        width: 180px;
      }
    }
  }
  
  .main {
    .block1 {
      height: 800px;
      &-item {
        width: auto;
        position: relative;
        .item {
          width: 255px;
          height: 289px;
          &:last-child {
            position: absolute;
            right: 0;
            bottom: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  .title-text {
    font-size: 64px;
    line-height: 77px;
  }
  .title-subtext {
    font-size: 32px;
    line-height: 38px;
  }
  .header {
    font-size: 14px;
    line-height: 18px;
    .logo {
      img {
        width: 160px;
      }
    }
  }
  .main {
    .block1 {
      height: 611px;
      &-item {
        width: 40%;
        .item {
          width: 50%;
          height: 200px;
          &:last-child {
            position: absolute;
            right: 0;
            bottom: 100%;
          }
        }
      }
    }

    .block2 {
      margin: 70px 0 100px;
      &-text {
        font-size: 20px;
        line-height: 30px;
        text-indent: 30px;
      }
    }

    .block3 {
      &-img {
        width: 43%;
      }
      &-info {
        width: 55%;
        .info-title {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
    
  .block4 {
    margin: 100px 0 60px;
    
    &-top {
      margin: -40px 0 40px;
    }
    &-title {
      font-size: 24px;
      line-height: 30px;
    }
    &-text {
      font-size: 16px;
      line-height: 20px;
    }
    &-item {
      .item-text {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
  .block1_partnership {
    height: 400px;
  }
  }
  

  .footer {
    font-size: 16px;
    line-height: 20px;
    .logo {
      margin-right: 20px;
      img {
        width: 150px;
      }
    }
    &-nav {
      margin-right: 30px;
    }
    &-social {
      margin-top: 20px;
      .social {
        margin-right: 10px;
        &:nth-child(2) {
          margin-right: 16px;
        }
        &:hover {
          opacity: 0.8;
        }
      }
      .phone-num:hover {
        opacity: 0.8;
      }
    }
    &-sub {
      text-align: right;
      font-weight: 300;
    }
  }
}

@media (max-width: 992px) {
  .header {
    font-size: 14px;
    line-height: 18px;
    .logo {
      img {
        width: 99px;
      }
    }
    &-nav {
      li {
        margin-right: 25px;
      }
    }
    &-social {
      .social {
        svg {
          width: 20px;
        }
      }
    }
  }

  .main {
    .block1 {
      height: 611px;
      &-text {
        padding: 0 0 55px 20px;
      }
      &-item {
        width: 48%;
        justify-content: end;
        .item {
          height: 200px;
        }
      }
    }
    .block1_partnership {
      height: 400px;
    }
    .block4 {
      &-top {
        margin: -40px 0 40px;
        flex-direction: column;
        align-items: start;
      }
      &-title {
        margin-bottom: 5px;
      }

    }
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 288px;
    padding: 0;
  }
  .title-text {
    font-size: 32px;
    line-height: 38px;
  }
  .title-subtext {
    font-size: 16px;
    line-height: 19px;
  }

  .header {
    font-size: 14px;
    line-height: 18px;
    .logo {
      img {
        width: 99px;
      }
    }
    &-nav {
      display: none;
    }
    .container {
      position: relative;
    }
    &-social {
      position: absolute;
      top: 105%;
      left: 0;
      right: 0;
      justify-content: space-between;
      .social {
        svg {
          width: 20px;
        }
      }
    }
    .menu-btn {
      display: flex;
    }
  }

  .main {
    .block1 {
      height: 455px;
      .container {
        flex-direction: column;
      }
      &-text {
        padding: 0;
        width: 100%;
      }
      .title-text {
        text-align: center;
      }
      .title-subtext {
        text-align: center;
        margin: 10px 0 80px;
      }
      &-item {
        width: 100%;
        display: flex;
        .item {
          height: 95px;
          padding: 5px;
          font-size: 14px;
          line-height: 16px;
          svg {
            height: 20px;
          }
          &:last-child {
            position: relative;
          }
        }
      }
    }
    
    .block2 {
      margin: 80px 0 70px;
      &-text {
        font-size: 18px;
        line-height: 30px;
        text-indent: 50px;
      }
    }

    .block3 {
      position: relative;
      &-img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      &-info {
        width: 100%;
        position: relative;
        z-index: 2;
        background: #fff;
        padding: 10px;
        margin-top: 252px;
        .info-title {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }

    .block4 {
      margin: 70px 0 100px;
      &-top {
        margin-top: 0;
      }
      &-item {
        .item-title {
          font-size: 20px;
          line-height: 27px;
        }
        .item-text {
          font-size: 16px;
          line-height: 20px;
          text-align: justify;
        }
      }
    }
    .block1_partnership {
      height: 262px;
      padding-bottom: 20px;
      .title-subtext {
        display: block !important;
        margin: 0;
        text-align: center;
        margin-top: 10px;
      }
    }
  }

  .footer {
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 50px;
    &-info {
      flex-wrap: wrap;
    }
    .logo {
      margin-right: 0;
      width: 100%;
      img {
        width: 106px;
      }
    }
    &-nav {
      margin-right: 0;
      width: 50%;
    }
    &-social {
      margin: 25px 0 30px;
    }
    &-sub {
      text-align: left;
    }
  }
}

@media (max-width: 576px) {

}

@media (max-width: 420px) {

}


